<a href="https://colab.research.google.com/github/ultimatexlerion/claseSemana01/blob/main/Ejercicio_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
Nombre = "Mike"
Edad = 39
print(Nombre, Edad)

Mike 39

In [3]:
print("Hola, soy", Nombre)
print("Tengo actualmente", Edad)

Hola, soy Mike
Tengo actualmente 39

In [9]:
amigo_1, amigo_2, ubicacion = "Edwin", "Memo", "Chia"

In [10]:
print("Hola, mi nombre es", Nombre)

Hola, mi nombre es Mike

In [11]:
print(f"Tengo {Edad} a単os y me acompa単an mis amigos {amigo_1} y {amigo_2}. y vivimos en {ubicacion}")

Tengo 39 a単os y me acompa単an mis amigos Edwin y Memo. y vivimos en Chia