<a href="https://colab.research.google.com/github/ultimatexlerion/claseSemana01/blob/main/Ejercicio_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
Nombre = input("Nombre: ")
Edad = input("Edad: ")
print(Nombre, Edad)

Nombre: mike
Edad: 39
mike 39

In [30]:
print("Hola, soy", Nombre)
print("Tengo actualmente", Edad)

Hola, soy mike
Tengo actualmente 39

In [32]:
amigo_1, amigo_2, ubicacion = "Edwin", "Memo", "Chia"

In [74]:
print(f"Hola, mi nombre es", Nombre, "y mis amigos son: " + amigo_1, amigo_2)

Hola, mi nombre es mike y mis amigos son: Edwin Memo

In [34]:
print(f"Mi nombre es {Nombre} Tengo {Edad} años y me acompañan mis amigos {amigo_1} y {amigo_2}. y vivimos en {ubicacion}")

Mi nombre es mike Tengo 39 años y me acompañan mis amigos Edwin y Memo. y vivimos en Chia

Metodo Format

In [70]:
mensaje = "Hola, soy {} y estoy en la \n {} {}\t".format(Nombre, ubicacion, "y estoy con mi amigo " + amigo_1 )
print(mensaje)

Hola, soy mike y estoy en la
 Chia y estoy con mi amigo Edwin

Variables Float

In [75]:
altura = input("Altura: ") #tipo float
altura = float(altura)
print(f"Mi nombre es {Nombre}, (tipo: {type(Nombre).__name__})")
print(f"Tengo {Edad} años (tipo: {type(Edad).__name__}) y estoy acompañado de {amigo_1} y {amigo_2} (tipo: {type(amigo_1).__name__})")
print(f"Mi altura es {altura: .2f} metros (tipo: {type(altura).__name__}).") #el .2f es para traer los dos ultimos digitos flotantes

Altura: 1.82
Mi nombre es mike, (tipo: str)
Tengo 39 años (tipo: str) y estoy acompañado de Edwin y Memo (tipo: str)
Mi altura es  1.82 metros (tipo: float).

Conversion de Numeros, Boleanos y Strings

In [87]:
#Numeros
entero = 39
decimal = 3.14

#imprimir entero
print("El numero entero es ", entero)

#Cadenas (strings)
entero_str= str(entero)

#Sumar los valores de los strings y numeros
suma_valores=int(entero_str)+entero
print("Comprobando tipos")
typ_entero=type(entero)
typ_str=type(entero_str)
print(f"la suma de {entero}({typ_entero}) + {entero_str} ({typ_str}) es {suma_valores}")
#Boobleans : Son los conocedores de la verdad
es_mayor = True

#Convertir entero a cadena
edad_int = str(edad_str)

type(edad_str)
print(frase, es_mayor, edad_str)

print(f"La edad de {Nombre}, es {Edad}")

El numero entero es  39
Comprobando tipos
la suma de 39(<class 'int'>) + 39 (<class 'str'>) es 78
!Bienvenidos a Xlerion¡ True 39
La edad de mike, es 39

In [89]:
import keyword
#Palabras reservadas
palabras_reservadas = keyword.kwlist
print(palabras_reservadas)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']