<a href="https://colab.research.google.com/github/ultimatexlerion/claseSemana01/blob/main/Ejercicio_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
Nombre = input("Nombre: ")
Edad = input("Edad: ")
print(Nombre, Edad)

Nombre: mike
Edad: 39
mike 39

In [30]:
print("Hola, soy", Nombre)
print("Tengo actualmente", Edad)

Hola, soy mike
Tengo actualmente 39

In [32]:
amigo_1, amigo_2, ubicacion = "Edwin", "Memo", "Chia"

In [44]:
print("Hola, mi nombre es", Nombre, "y mis amigos son: ", amigo_1, amigo_2)

Hola, mi nombre es mike y mis amigos son:  Edwin Memo

In [34]:
print(f"Mi nombre es {Nombre} Tengo {Edad} años y me acompañan mis amigos {amigo_1} y {amigo_2}. y vivimos en {ubicacion}")

Mi nombre es mike Tengo 39 años y me acompañan mis amigos Edwin y Memo. y vivimos en Chia

Metodo Format

In [60]:
mensaje = "Hola, soy {} y estoy en la {} \n {}\t".format(Nombre, ubicacion, amigo_1)
print(mensaje)

Hola, soy mike y estoy en la Chia
 Edwin	.

Variables Float

In [62]:
altura = input("Altura: ") #tipo float
altura = float(altura)
print(f"Mi nombre es {Nombre}, (tipo: {type(Nombre).__name__})")
print(f"Tengo {Edad} años (tipo: {type(Edad).__name__}) y estoy acompañado de {amigo_1} y {amigo_2}")
print(f"Mi altura es {altura: .2f} metros (tipo: {type(altura).__name__}).") #el .2f es para traer los dos ultimos digitos flotantes

Altura: 1.82
Mi nombre es mike, (tipo: str)
Tengo 39 años (tipo: str) y estoy acompañado de Edwin y Memo
Mi altura es  1.82 metros (tipo: float).